@import 'reset';
//PS Y:\Script\Node-js\postgres> npm run scss

$font-stack: Helvetica, Verdana, sans-serif;
$primary-color: #333;

body {
  font-family: $font-stack
}

h1 {
  font-size: 4em;
  color: $primary-color;
}

table, th, td {
  border: 1px solid black;

  padding: 5px;
}
table {
  margin: 1em 0;
  width: 80%;
}

@import 'list-page';
@import 'book-form';
