<!DOCTYPE html>
<html lang="de" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test-Seite</title>
        <link rel="stylesheet" href="..\..\style.css" />
  </head>
  <body>

    <h1> Selected entries</h1>
    {{#entrie}}
      <ul>{{entrie}}</ul>
    {{/entrie}}
    <br>
    <a href="/entries">Back to entries</a>
  </body>
</html>
